body {
	background: #23272a;
}

h1 {
	color: '#2c2f33';
	background: #99aab5;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	border-radius: 3px;
}
#placeholder {
	text-align: center;
	color: #b83249;
}

.object {
	background: #2c2f33;
	color: #b83249;
	width: 80%;
	height: 100px;
	margin-top: 10px;
	margin-left: 10%;
	text-align: center;
	border-radius: 3px;
}
.object a:link{
	color: #ffffff;
	text-decoration: none;
	padding-top: 10px;
}
.post_wrapper {
 margin-left: 1.5%;
}
.added {
	margin-top: 9px;
	background-color: black;
	color: white;
	border-radius: 4px;
	text-align: center;
	width: 80%;
	padding: 5px;
	font-size: 1em;
}
  .name-tag {
	color: #00ff00;
}
  .score-tag {
	color: #0057e7;
	float: left;
	margin-right: 5px;
}